name: Download and Upload to R2

on:
  workflow_dispatch:
    inputs:
      download_url:
        description: 'The direct link to the .rar file'
        required: true
        type: string

jobs:
  process-movies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm install @aws-sdk/client-s3 axios
          npm install -g tsx typescript

      - name: Run Upload Script
        env:
          R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
          DOWNLOAD_URL: ${{ github.event.inputs.download_url }}
        run: tsx upload.ts
