name: Translate and Upload Movie

on:
  workflow_dispatch:
    inputs:
      movie_url:
        description: 'Direct URL of the movie'
        required: true
      movie_name:
        description: 'Target filename with extension (e.g. gladiator.mp4)'
        required: true

jobs:
  process:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Run Script
        env:
          R2_ENDPOINT: ${{ secrets.R2_ENDPOINT }}
          R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
          R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
        run: npx ts-node translate.ts "${{ github.event.inputs.movie_url }}" "${{ github.event.inputs.movie_name }}"
